{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    {% for com in comment %}
        {{ dump(com.id) }}
    {% endfor %}
    <div class="container-fluid">
    <div class="card shadow mb-4 p-4">
    <form>
        <fieldset {{ disabled }}>
            <div class="form-group"><label for="formControlTextareaMessage">Message</label><textarea class="form-control" id="formControlTextareaMessage" rows="3" placeholder="{{ comment.message }}"></textarea></div>
            <div class="form-group">
                <label for="formControlSelectValid">Validation</label>
                <select class="form-control" id="formControlSelectValid">
                        <option {% if comment.valid == 1 %} selected {% endif %}>
                            Validé
                        </option>
                        <option {% if comment.valid == 0 %} selected {% endif %}>
                            Non validé
                        </option>
                </select>
            </div>
        </fieldset>
    {% if disabled == 'disabled' %}
        <a class="btn btn-primary" href="?id={{ comment.id }}&edit" role="button">Editer</a>
    {% else %}
        <button type="submit" class="btn btn-primary">Valider</button>
        <a class="btn btn-primary" href="?id={{ comment.id }}" role="button">Annuler</a>
    {% endif %}
    </form>
    </div>
    </div>
{% endblock %}