{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <h1 class="h3 mb-2 text-gray-800">Commentaires</h1>

        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des commentaires</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Message</th>
                            <th>Date de création</th>
                            <th>Date de modification</th>
                            <th>Validé</th>
                            <th>Auteur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in commentsList %}
                            <tr>
                                <td>{{ comment.message }}</td>
                                <td>{{ comment.creating_date }}</td>
                                <td>{{ comment.modified_date }}</td>
                                <td>{{ comment.valid }}</td>
                                <td>{{ comment.first_name }} {{ comment.last_name }}</td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
