{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <h1 class="h3 mb-2 text-gray-800">Commentaires</h1>

        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des commentaires</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Message</th>
                            <th>Date de création</th>
                            <th>Date de modification</th>
                            <th>Validé</th>
                            <th>Auteur</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in commentsList %}
                            <tr class="clickable-table-row" onclick="location.href='back-read-comment?id={{ comment.id }}'">
                                <td>{{ comment.message|slice(0, 40) }} ...</td>
                                <td>{{ comment.createdDate }}</td>
                                <td>{{ comment.modifiedDate }}</td>
                                <td>{% if comment.valid == 1%}Oui{% else %}Non{% endif %}</td>
                                <td>{{ comment.user.firstName }} {{ comment.user.lastName }}</td>
                            </tr>
                        {%  endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
