{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    <div class="container-fluid">
    <div class="card shadow mb-4 p-4">
    <form method="post">
        <fieldset {{ disabled }}>
            <div class="form-group"><label for="formControlTextareaMessage">Message <span class="text-danger">{{ errors.message }}</span></label><textarea class="form-control" id="formControlTextareaMessage" name="message" rows="3" {% if comment.userId != session.user.id %}disabled{% endif %}>{{ comment.message }}</textarea></div>
            <div class="form-group">
                <label for="formControlSelectValid">Validation <span class="text-danger">{{ errors.valid }}</span></label>
                <select class="form-control" id="formControlSelectValid" name="valid">
                        <option {% if comment.valid == 1 %}selected{% endif %} value="1">
                            Validé
                        </option>
                        <option {% if comment.valid == 0 %}selected{% endif %} value="0">
                            Non validé
                        </option>
                </select>
            </div>
        </fieldset>
    {% if disabled == 'disabled' %}
        <a class="btn btn-primary" href="back-edit-comment?id={{ comment.id }}&edit" role="button">Editer</a>
    {% else %}
        <button type="submit" class="btn btn-primary">Valider</button>
        <a class="btn btn-primary" href="back-read-comment?id={{ comment.id }}" role="button">Annuler</a>
    {% endif %}
    </form>
    </div>
    </div>
{% endblock %}