{% for postslist in posts_list %}
    <p>
        <div>{{ postslist.title }}</div>
        <div>{{ postslist.leadParagraph }}</div>
        <div>{{ postslist.content }}</div>
        <div>{{ postslist.creatingDate }}</div>
        <div>{{ postslist.modifiedDate }}</div>
    </p>
{% endfor %}