{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div class="container col-md-8 border">
                <p>
                    <div class="h1">{{ singlePost.title }}</div>
                    <div class="h3">{{ singlePost.leadParagraph }}</div>
                    <div class="border">{{ singlePost.content }}</div>
                </p>
                <p>
                    <div align="right">Auteur : {{ singlePost.user.firstName }} {{ singlePost.user.lastName }}</div>
                    <div align="right">Date de modification : {{ singlePost.modifiedDate }}</div>
                </p>
        </div>
        <div class="container col-md-8">
            Commentaires :
            {% if comments == null %}<div>Il n'y a pas encore de commentaires</div>{% endif %}
            {% for comment in comments %}
                <div class="border p-2">
                    <p>
                        <div>{{ comment.message }}</div>
                    </p>
                    <p>
                        <div align="right">Auteur : {{ comment.user.firstName }} {{ comment.user.lastName }}</div>
                        <div align="right">Date: {{ comment.createdDate }}</div>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="container col-md-8">
            <form method="post" action="back-add-comment?postId={{ singlePost.id }}">
                <fieldset {{ disabled }}>
                <div class="form-group">
                    <textarea class="form-control" id="formControlTextareaMessage" {%  if disabled == "disabled" %}data-toggle="modal" data-target="#commentModal"{% endif %} name="message" rows="3" placeholder="Qu'en pensez vous?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
                </fieldset>
            </form>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Laisser un commentaire?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Vous devez être connecté pour pouvoir laisser un commentaire.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="login">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}