{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div class="container col-md-8 pt-5">
            <div class="text-center p-5">
                <h1>{{ singlePost.title }}</h1>
                <h3>{{ singlePost.leadParagraph }}</h3>
            </div>
            <div>
                <p class="card-text">{{ singlePost.content|nl2br }}</p>
            </div>
            <div class="border text-right mt-3 p-2 rounded bg-light">
                <div>Auteur : {{ singlePost.user.firstName }} {{ singlePost.user.lastName }}</div>
                <div>Date de modification : {{ singlePost.modifiedDate }}</div>
            </div>
        </div>
        <div class="container col-md-8 mt-5">
            <h6>Commentaires :</h6>
            {% if comments == null %}<div>Il n'y a pas encore de commentaires</div>{% endif %}
            {% for comment in comments %}
                <div class="card mt-1">
                    <div class="card-body">
                        <p class="card-text">{{ comment.message }}</p>
                    </div>
                    <div class="card-footer text-muted text-right">
                        <div>Auteur : {{ comment.user.firstName }} {{ comment.user.lastName }}</div>
                        <div>Date: {{ comment.createdDate }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container col-md-8 mt-5">
            <form method="post" action="back-add-comment?postId={{ singlePost.id }}">
                <fieldset {{ disabled }}>
                <div class="form-group">
                    <textarea class="form-control" id="formControlTextareaMessage" {%  if disabled == "disabled" %}data-toggle="modal" data-target="#commentModal"{% endif %} name="message" rows="3" placeholder="Qu'en pensez vous?"></textarea>
                </div>
                <input type="hidden" name="csrfToken" value="{{ session.csrfToken }}" />
                <button type="submit" class="btn btn-primary">Valider</button>
                </fieldset>
            </form>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Laisser un commentaire?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Vous devez être connecté pour pouvoir laisser un commentaire.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="login">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
