{% for postslist in posts_list %}
    <p>
        <div>{{ postslist.title }}</div>
        <div>{{ postslist.lead_paragraph }}</div>
        <div>{{ postslist.content }}</div>
        <div>{{ postslist.creating_date }}</div>
        <div>{{ postslist.modified_date }}</div>
    </p>
{% endfor %}