{% extends 'base.html.twig' %}

{% block content %}
    <section>
        <div class="container col-md-8 border">
            {% for post in singlePost %}
                <p>
                    <div class="h1">{{ post.0.title }}</div>
                    <div class="h3">{{ post.0.leadParagraph }}</div>
                    <div class="border">{{ post.0.content }}</div>
                </p>
                <p>
                    <div align="right">Auteur : {{ post.1.firstName }} {{ post.1.lastName }}</div>
                    <div align="right">Date de modification : {{ post.0.modifiedDate }}</div>
                </p>
            {% endfor %}
        </div>
        <div class="container col-md-8">
            Commentaires :
            {% for comment in comments %}
                <div class="border p-2">
                    <p>
                        <div>{{ comment.message }}</div>
                    </p>
                    <p>
                        <div align="right">Auteur : {{ comment.firstName }} {{ comment.lastName }}</div>
                        <div align="right">Date: {{ comment.createdDate }}</div>
                    </p>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}