{% extends 'baseBackoffice.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="card shadow mb-4 p-4">
            <form method="post" action ="">
                <fieldset {{ disabled }}>
                    <div class="form-group"><label for="inputFirstName">Prénom</label><input class="form-control" id="inputFirstName" name="firstName" type="text" value="{{ user.firstName }}"></div>
                    <div class="form-group"><label for="inputLastName">Nom</label><input class="form-control" id="inputLastName" name="lastName" type="text" value="{{ user.lastName}}"></div>
                    <div class="form-group"><label for="inputEmail">Email* {{ errors.email }}</label><input class="form-control" id="inputEmail" name="email" type="email" value="{{ user.email }}" required></div>
                    <div class="form-group"><label for="inputPseudo">Pseudo* {{ errors.pseudo }}</label><input class="form-control" id="inputPseudo" name="pseudo" type="text" value="{{ user.pseudo }}" required></div>
                    <div class="form-group">
                        <label for="formControlSelectGender">Genre</label>
                        <select class="form-control" id="formControlSelectGender" name="genderId">
                            {% for gender in genders %}
                                <option {% if gender.id == user.genderId %}selected{% endif %} value="{{ gender.id }}">
                                    {{ gender.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mt-3">
                            <input type="password" class="form-control form-control-user" name="password" id="inputPassword" placeholder="Mot de passe" value="{{ value.password }}">
                        </div>
                        <div class="col-sm-6 mt-3">
                            <input type="password" class="form-control form-control-user" name="repeatPassword" id="inputRepeatPassword" placeholder="Répétez le mot de passe" value="{{ value.repeatPassword }}">
                        </div>
                        <label class="mt-3 ml-3" for="inputPassword">Le mot de passe doit contenir entre 8 et 20 caractères, au moins 1 nombre, au moins une lettre, au moins une majuscule!</label>
                        <label for="inputPassword" class="ml-3 text-danger">{{ errors.passwords }}</label>
                    </div>
                    <input type="hidden" name="csrfToken" value="{{ session.csrfToken }}" />
                </fieldset>
                {% if disabled == 'disabled' %}
                    <a class="btn btn-primary" href="profile-edit" role="button">Editer</a>
                {% else %}
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <a class="btn btn-primary" href="profile" role="button">Annuler</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
